<% include ../partials/header %>


<section id="contact" class="section section-contact scrollspy">
    <div class="container">
		<div class="row">
			<div class="col s12 m12">
                <div class="card-panel glow-card center">
                    <i class="material-icons medium">thumb_up</i>
                    <h5>Thank You, <%= order.buyerName %>!</h5>
					<% if(order.paid){ %>
                    <p>Your package will be sent to you in some manner</p>
					<% } else { %>
					<p>Your purchase will be arranged as soon as we get in touch. You'll be hearing from me very soon!</p>
					<% } %>
                </div>
                <ul class="collection with-header">
                    <li class="collection-header glow-card">
                        <h4>Order Info</h4>
                    </li>
					<li class="collection-item"><%= order.itemName %></li>
					<li class="collection-item"><%= order.itemDescription %></li>
                    <li class="collection-item">$<%= order.itemPrice %></li>
                    <li class="collection-item"><%= order.buyerStreetAddress %></li>
                    <li class="collection-item"><%= order.buyerCityState %></li>
                </ul>
            </div>
		</div>
    </div>
</section>


<% include ../partials/footer %>

