<% include ../partials/header %>
    
<div class="section-show">
	<div class="row">
		<div class="col s12 m12">
			<div class="card" style="max-width: 50%; margin: 0 auto !important">
				<div class="card-image">
					<img src="<%= order.itemImage %>">
					<span class="card-title"><%= order.itemName %></span>
				</div>
				<div class="card-content">
					<p>Buyer Name by: <%= order.buyerName %></p>
					<p>Email: <%= order.buyerEmail %></p>
					<p>Phone: <%= order.buyerPhone %></p>
					<p>Address: <%= order.buyerStreetAddress %></p>
					<p>City/State: <%= order.buyerCityState %></p>
					<p>Message: <%= order.buyerMessage %></p>
					<p>Date/Time: <%= order.dateTime %></p>
					<% if(order.paid){ %>
					<h5><span class="span-price">PAID</span></h5>
					<% } else { %>
					<h5><span class="span-price">NOT PAID</span></h5>
					<% } %>
				</div>
				<div class="card-action">
					<h4 class="right price"><span class="span-price">$</span><%= order.itemPrice %></h4>
					<form method="POST">
						<button formaction="/orders/<%=order._id%>?_method=DELETE" class="btn btn-custom-delete">DELETE</button>
						<% if(!order.paid){ %>
						<button formaction="/orders/<%=order._id%>/finalize?_method=GET" class="btn btn-custom">FINALIZE</button>
						<% } %>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<% include ../partials/footer %>